<div class="flex-row">
  <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <mat-card appearance="outlined" class="search-card">
      <mat-card-title class="user-list-title">Todos</mat-card-title>
      <mat-card-content class="flex-col">
        <div class="flex-row gap-10 flex-wrap">
          <!-- Examples of filtering in Angular -->

          <mat-form-field class="input-field">
            <mat-label>Owner</mat-label>
            <input
              matInput
              data-test="todoOwnerInput"
              placeholder="Filter by owner"
              [(ngModel)]="todoOwner"
              (input)="updateFilter()"
            />
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Body</mat-label>
            <input
              matInput
              data-test="todoBodyInput"
              placeholder="Filter by Body"
              [(ngModel)]="todoBody"
              (input)="updateFilter()"
            />
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Category</mat-label>
            <input
              matInput
              data-test="todoCategoryInput"
              placeholder="Filter by Category"
              [(ngModel)]="todoCategory"
              (input)="updateFilter()"
            />
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

        </div>

        <div class="flex-row gap-10 flex-wrap">
          <!-- Examples of filtering on the server -->



          <mat-form-field class="input-field">
            <mat-label>Role</mat-label>
            <mat-select (selectionChange)="getTodosFromServer()" [(ngModel)]="todoRole" data-test="todoRoleSelect">
              <mat-option>--</mat-option>
              <mat-option value="admin">Admin</mat-option>
              <mat-option value="editor">Editor</mat-option>
              <mat-option value="viewer">Viewer</mat-option>
            </mat-select>
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>
        </div>
        <div class="flex-row gap-10 flex-wrap">
          <mat-label for="status">Status: </mat-label>
          <mat-radio-group aria-label="status" (change)="getTodosFromServer()" [(ngModel)]="todoStatus" data-test="statusRadio">
            <mat-radio-button value=undefined>neither</mat-radio-button>
            <mat-radio-button value=true>Complete</mat-radio-button>
            <mat-radio-button value=false>Incomplete</mat-radio-button>
          </mat-radio-group>
        </div>
        <br />
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div>
<mat-accordion>

  <div class="todo-panels-container flex-row gap-10 flex-wrap">
    @for (todo of filteredTodos; track todo._id) {
      <mat-expansion-panel hideToggle>

        <mat-expansion-panel-header>
          <mat-panel-title> {{ todo.body }} </mat-panel-title>
          <mat-panel-description> This is a summary of the content </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
        <p> {{todo.status}} </p>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title> Self aware panel </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState() ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    }
  </div>




